<div class="row">
  <div class="col-md-4">
    <ul>
      {{#each plants}}
        <li class="list-group-item">
          <div class="lead"><a href="/plants/{{this._id}}">{{this.title}}</a></div>
          <p>{{this.summary}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>